- if reply.sent_by.eql?(message.sent_by)
	.col-xs-offset-2.col-xs-9.reply-r
		%table
			%tr
				%td
					= reply.reply_body
				%td.img
					=image_tag message.sender_picture, class: "img-circle reply-pic left"
- else
	.col-xs-9.col-xs-offset-1.reply-l
		%table
			%tr
				%td.img
					= image_tag message.receiver_picture, class: "img-circle reply-pic left"
				%td
					= message.message_body