.container-fluid
  .row
    .col-xs-4.well.left-info
      %h2= "Edit Account Information"
      =form_for(@resource, as: @resource_name, url: registration_path(@resource_name), html: { method: :put }) do |f| 
        = devise_error_messages_jammer!
        .form-group
          =f.label :change_email
          =f.email_field :email, autofocus: true, class: "form-control", :placeholder => current_user.email
  
        =f.submit "Update Email", class: "btn btn-primary"

        / %h2 Cancel My Account
        / %p 
        /   Unhappy?
        /   =button_to "Cancel My Account", registration_path(@resource_name), data: {confirm: "Are you sure?" }, method: :delete

        =link_to "Back", musician_path(current_user)