@mixin background-img {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: $bg2;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: .5;
		background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
	}
}

@mixin center-content($left, $top, $margin_top, $margin_left) {
	top: $top;
	left: $left;
	margin: $margin_top 0 0 $margin_left;
	position: absolute;
}

@mixin power-header($color) {
	color: $color;
	font-size: 65px;
	font-weight: 100;
}