// Place all the styles related to the musicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

html, body, .container-fluid, .row, .left-info {
	height: 100%;
}

.left-info, .content {
	padding-top: 51px;
}

.left-info {
	margin-bottom: 0;
	overflow: scroll;
}

.avatar {
	border-radius: 15px;
}

.img-circle {
	width:163px;
	height:155px;
}

.errors, .no-lessons {
	color: $red;
}

#error_explanation {
	color: $red;
	h2 {	
		font-size: 20px;
	}
	ul {
		text-align: left;
	}
}

.yes-lessons {
	color: $green;
}

.smoke {
	background-color: whitesmoke;
}

.contact {
	background-color: $well;
}

textarea {
	resize: vertical;
}