// Place all the styles related to the musicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

html, body, .container-fluid, .row, .left-info {
	height: 100%;
}

body {
	background-color: rgba(75, 75, 75, 0.15);
}

.left-info, .content {
	padding-top: 51px;
}

.left-info {
	margin-bottom: 0;
	overflow: scroll;
}

.avatar {
	border-radius: 15px;
}

.img-circle {
	width:163px;
	height:155px;
}

.errors, .no-lessons {
	color: $red;
}

#error_explanation {
	color: $red;
	h2 {	
		font-size: 20px;
	}
	ul {
		text-align: left;
	}
}

.yes-lessons {
	color: $green;
}

.smoke {
	background-color: whitesmoke;
}

.contact, .songs {
	background-color: $well;
}

textarea {
	resize: vertical;
}

select {
	border: 1px solid $gray2;
}

.three-quarters {
	width: 75%;
}

#add:hover {
	cursor: pointer;
}

.date, .sender, .subject {
	margin-bottom: 0;
}

.subject {
	margin-top: 0;
}

.msg-pic {
	width: 80px;
	height: 80px;
}

.msg-info-row {
	margin-bottom: 20px;
}

table {
	width: 100%;
}

.left-cell {
	width: 50%;
}

.replies {
	height: 60%;
	border: 1px solid #EBEBEB;
	overflow: scroll;
	padding-top: 10px;
	padding-bottom: 10px;
}

.reply-pic {
	width: 60px;
	height: 60px;
}

.reply-l, .reply-r {
	padding-top: 8px;
	padding-bottom: 8px;
}

.reply-l {
	text-align: left;
}

.reply-r {
	text-align: right;
}

.msg-link {
	cursor: pointer;
}

.respond {
	padding: 0;
}

.reply-contents {
	resize: none;
}

.reply-send {
	height: 100%;
	padding-top: 0;
	padding-bottom: 0;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

.img {
	width: 20%;
}

.hidden {
	display: none;
}

.pic {
	text-align: center
}

.name-or-date {
	text-align: center;
	padding-top: 5px;
}

#message-pane {
	display: table;
}

.not-selected {
	display: table-cell;
	color: gray;
	vertical-align: middle;
}

.body {
	width: 80%;
}